mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer 
            img(src=userLoggedIn.profilePicture, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?!")
            .buttonsContainer
                button#submitPostButton(disabled="") Tweet

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer 
                            img(src=userLoggedIn.profilePicture, alt="User's profile picture")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="Tweet your reply")
                .modal-footer
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostLabel.modal-title Delete tweet?
                .modal-body
                    p This can’t be undone and it will be removed from your profile, the timeline of any accounts that follow you, and from search results.
                .modal-footer
                    button#deletePostButton.btn.btn-danger(type='button') Delete
                    button#btn.btn-light(type='button', data-dismiss='modal') Cancel

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createPinnedPostModal()
    +createUnpinPostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadLabel.modal-title Upload a new profile picture
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button#imageUploadButton.btn(type='button') Save
                    button#btn.btn-light(type='button', data-dismiss='modal') Cancel

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoUploadLabel.modal-title Upload a new cover photo
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button#coverPhotoUploadButton.btn(type='button') Save
                    button#btn.btn-light(type='button', data-dismiss='modal') Cancel

mixin createPinnedPostModal()
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinModalLabel.modal-title Pin this tweet?
                .modal-body
                    p This tweet will appear at the top of your profile. You can only pin one tweet.
                .modal-footer
                    button#pinPostButton.btn(type='button') Pin
                    button#btn.btn-light(type='button', data-dismiss='modal') Cancel

mixin createUnpinPostModal()
    #unpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#unpinModalLabel.modal-title Unpin the tweet?
                .modal-body
                    p This tweet will be unpinned.
                .modal-footer
                    button#unpinPostButton.btn(type='button') Unpin
                    button#btn.btn-light(type='button', data-dismiss='modal') Cancel